body {
    font-family: sans-serif;
}

h1 {
    margin-right: 1585px;
    padding-left: 50px;
    font-size: 50px;
    background-color: #92ccce;
    color: #31343d;
}

h2 {
    text-align: end;
    font-size: 75px;
    color: #445877;
    border-right: #31343d solid 5px;
}

#title1{
    height: 200px;
    width: 225px;
    padding: 100px;
}

#title2 {
    height: 800px;
    width: 225px;
    padding: 100px;
}

#title3{
    height: 200px;
    width: 225px;
    padding: 100px;
}
h3 {
    text-align: center;
    font-size: 20px;
    color: #31343d;
}

h4 {
    text-align: center;
    font-size: 15px;
    color: #31343d;
}
#word {
    display: flex;
    position: relative;
    bottom: 110px;
    padding: 5px;
    margin-left: 1500px;
    margin-right: 65px;
    font-size: 35px;
    color: #31343d;
    text-align: start;
    background-color: #92ccce;
}

Header {
    display: flex;
    flex-wrap: wrap;
    background-color: #31343d;
    text-align: start;
    font-family: sans-serif;
    color: #92ccce;
}

nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-left: 1375px;
}

nav a {
    padding: 15px;
    color: #92ccce;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
}

p {
    position: relative;
    bottom: 350px;
    text-align: start;
    padding-left: 500px;
    font-size: large;
    color: #445877
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#ocean {
    flex: 1 1 auto;
    position: relative;
    bottom: 1000px;
    left: 700px;
    border: 6px solid #92ccce;
    width: 55%;

}

#text1 {
    position: relative;
    bottom: 1110px;
    background-color: #92ccce;
    height: 50px;
    width: 175px;
    margin-left: 700px;
    margin-right: 1050px;
    padding: 5px 5px 5px;
    font-size: 25px;
}

#text1-2 {
    position: relative;
    bottom: 1160px;
    margin-right: 400px;
    font-size: small;
}

#wall {
    position: relative;
    bottom: 1100px;
    left: 700px;
    border: 6px solid #92ccce;
    width: 30%;
    height: 175px;
}

#text2 {
    position: relative;
    bottom: 1195px;
    background-color: #92ccce;
    height: 50px;
    width: 175px;
    margin-left: 700px;
    margin-right: 1055px;
    font-size: 25px;
}

#text2-1 {

    position: relative;
    bottom: 1245px;
    margin-right: 400px;
    padding: 5px 5px 5px 5px;
    font-size: small;
}

#basic {
    position: relative;
    bottom: 1427px;
    left: 1325px;
    border: 6px solid #92ccce;
    width: 22%;
    height: 175px;
}

#text3 {
    position: relative;
    bottom: 1530px;
    left: 625px;
    background-color: #92ccce;
    height: 50px;
    margin-left: 700px;
    margin-right: 1050px;
    padding: 5px 5px 5px;
    font-size: 25px;
}

#text3-1 {

    position: relative;
    bottom: 1580px;
    left: 650px;
    margin-right: 390px;
    font-size: small;
}

#pink {
    position: relative;
    bottom: 1540px;
    left: 700px;
    border: 6px solid #92ccce;
    width: 25%;
    height: 175px;
    width: 30%;
}

#text4 {
    position: relative;
    bottom: 1635px;
    left: 25px;
    background-color: #92ccce;
    height: 50px;
    margin-left: 675px;
    margin-right: 1050px;
    height: 50px;
    font-size: 25px;
}

#text4-1 {
    position: relative;
    bottom: 1680px;
    right: 10px;
    margin-right: 390px;
    font-size: small;
}

#html {
    position: relative;
    bottom: 1850px;
    left: 1325px;
    border: 6px solid #92ccce;
    width: 22%;
    height: 175px;
}

#text5 {
    position: relative;
    bottom: 1945px;
    left: 635px;
    background-color: #92ccce;
    height: 50px;
    margin-left: 690px;
    margin-right: 1050px;
    font-size: 25px;
}

#text5-1 {
    position: relative;
    bottom: 1990px;
    left: 515px;
    margin-right: 186px;
    font-size: small;
}

.contact {
    position: relative;
    bottom: 1500px;
}

.info {
    position: relative;
    bottom: 350px;
    left: 850px;
    color: #445877;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: bold;
    font-size: x-large;

}

.info a {
    display: block;
    color: #445877;
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

@media screen and (max-width: 992px) {
 
  }
  
  @media screen and (max-width: 768px) {

  }